#programs {
    margin: 2%;
}

#programs h1 {
    font-weight: bolder;
    font-size: 40px;
}

#up {
    font-weight: bolder;
    margin-top: 5px;
    color: darkgray;
}

.our-program {
    display: flex;
    flex-wrap: wrap;
    margin: 2%;
    width: 98%;
    color: rgb(14, 123, 150);
    justify-content: center;
}

.our-program .program-day {
    margin: 1%;
    width: 48%;
    box-sizing: border-box;
    display: none; /* Initially hidden, shown via JavaScript */
    flex-direction: column;
    align-items: center;
}

.program-day h4 {
    text-align: center;
}

.program-details {
    display: flex;
    /* flex-direction: column; */
    gap: 10px;
    background-color: rgb(241, 237, 237);
    padding: 10px;
    border-radius: 7%;
    width: 100%;
    box-sizing: border-box;
    margin-top: 1%;
}

.program-details p {
    margin: 5px 0;
    padding: 10px;
    background-color: white;
    border-radius: 7%;
}

.day-menu {
    display: flex;
    justify-content: center;
    margin: 2%;
}

.day-menu p {
    margin: 1%;
    cursor: pointer;
    color: white;
    border-radius: 10px;
    text-align: center;
    background-color: rgba(14, 123, 150, 0.479);
    padding: 10px;
}

.days {
    border: 1px solid rgb(14, 123, 150);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: rgb(14, 123, 150);
    padding: 10px;
    color: white !important;
    margin-bottom: 10px;
}

@media (max-width: 843px) {
    .day-menu {
        flex-direction: column;
        align-items: center;
    }

    .our-program {
        flex-direction: column;
        margin: 1%;
        width: 100%;
    }

    .our-program .program-day {
        width: 100%;
        margin: 1% 0;
    }

    .program-details {
        padding: 10px;
        border-radius: 20%;
    }
}
