#programs {
    margin:2%;
}
#programs h1{
    font-weight: bolder;
    font-size: 40px;
}
#up{
    font-weight: bolder;
    margin-top: 5px;
    color: darkgray;
}
.our-program{
    display: inline-flex;
    margin: 2%;
    width: 98%;
    color: rgb(14, 123, 150);
}
.our-program div{
    margin: 2%;
    width: 50%;
    /* text-align: center; */
    top: 0;
    left: 23%;
    position: relative;
}
.our-program div p{
    padding: 10px;
    background-color: rgb(241, 237, 237);
    margin: 2%;
    width: 60%;
    left: 18%;
    position: relative;
    border-radius: 7%;
}
.day-menu{
    display: inline-flex;
    margin: 2%;
    top: 0;
    left: 25%;
    position: relative;
}
.day-menu p{
    margin: 1%;
    cursor: pointer;
    color: white;
    border-radius: 10px;
    /* font-weight: bolder; */
    text-align: center;
    background-color: rgba(14, 123, 150, 0.479);
    padding: 4px;    
}
.days{
    border: 1px solid rgb(14, 123, 150);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: rgb(14, 123, 150);
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white !important;
}
#program-monday{
    display: grid;    
}
#program-teusday{
    display: none;   
}
#program-wednsday{
    display: none;   
}
#program-thursday{
    display: none;   
}
#program-friday{
    display: none;   
}
#program-saturday{
    display: none;   
}
#program-sunday{
    display: none;   
}

#m{
    background-color: rgb(14, 123, 150);
}
@media (max-width: 843px) {
    .day-menu{
        display: grid;
        margin: 2%;
        top: 0;
        left: 0%;
        position: relative;
    }   
    .day-menu p{
        padding-left: 0;
        padding-right: 0;
        padding: 1px;
    }
    .our-program{
        margin: 1%;
        width: 100%;
    }
    .our-program div{
        margin: 1%;
        width: 100%;
        text-align: center;
        top: 0;
        left: 0;
    }
    .our-program div p{
        width: 90%;
        left: 0;
        border-radius: 20%;
    }
}